.adminLayout {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.pageContent {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
